
<div class="max-w-3xl mx-auto px-4 pb-8 md:py-8 grid grid-cols-4 md:grid-cols-3 gap-4">
  <div class="col-span-4 md:col-span-1 mb-8">
    {% render 'headshot' %}
  </div>
  <div class="col-span-4 md:col-span-1 md:col-start-3">
    {% render 'contact' %}
  </div>
</div>
