
<div class="max-w-3xl mx-auto px-4 pb-8 md:py-8 grid grid-cols-4 gap-4">
  <div class="col-span-2 mb-8">
    {% render 'contact' %}
  </div>
  <div class="col-span-2">
    {% render 'headshot' %}
  </div>
</div>
