<h2 class="text-2xl font-light mb-2">Experience</h2>

<div class="mb-8">
  <h3 class="text-lg leading-snug"><span class="font-semibold">Invoke Web Services</span></h3>
  <h2 class="italic mb-2 text-slate-500">Fullstack Web Developer - 2015-present</h2>
  <p class="text-sm leading-snug mb-4">
  My freelance/contract web agency. I work with clients from project conception to launch.
  I discussed business goals, let them how and what type of website can help them achieve results. Deliver branding and design mock-ups.
  Create functioning websites out of designs. Program any functionality their application calls for.
  </p>
</div>

<!-- Archway Recruiters -->
<div class="mb-8">
  <h3 class="text-lg leading-snug"><span class="font-semibold">Archway Recruiters</span></h3>
  <h2 class="italic mb-2 text-slate-500">Contracted - February 2022 to October 2022</h2>
  <p class="text-sm leading-snug mb-4">
  Brought on to lead the project while the main developer went on temporary leave. The app is an in-house CRM
  used by a medical recruitment company that allows them to manage their clients and send out job openings
  to potential candidates. I was tasked to help optimize the application and on-board a third subsidiary to the CRM powered by Rails.
  </p>

  <ul class="list-square px-4 py-4 text-sm font-semibold [&>li]:mb-2">
    <li>Incorporated numerous unit tests that helped ensure app didn't break when adding new features and to help find any bugs.</li>
    <li>Optimized a substantial amount of N+1 queries that cause the database a lot stress. Was able to reduce query times by 40% and
      reduce queries by 60%.</li>
    <li>Managed and configured AWS SQS and S3 for the company and upgrade a legacy custom email system onto ActionMailer using AWS.</li>
    <li>Designed and coded custom email templates for ActionMailer, ensuring it was mobile-optimized and tested across numerous popular
      email clients such as Web Gmail, Apple Mail, along with their mobile application counterparts.</li>
    <li>Refactor code to make the application more dynamic and removed some repetitive multi-tenancy logic.</li>
    <li>Led team meetings with the business and discussed goals for long term and discussed what to focus on the short term</li>
  </ul>
</div>

<!-- Saddlebook -->
<div class="mb-8">
  <h3 class="text-lg leading-snug"><span class="font-semibold">Saddlebook, Inc.</span></h3>
  <h2 class="italic mb-2 text-slate-500">Contracted - August 2022 to October 2022</h2>
  <p class="text-sm leading-snug mb-4">
  Came on for a bit to help the crew focus on an area of the app that needed to get done but their
  attention was demanded elsewhere by other more pressing priorities. I was happy to help them incorporate
  a complex form for a model that utilized Hotwire and StimulusJS. We used Hotwire and Turbo Frames to swap out
  the input fields with the rendered data after being updated. The form lived in an HTML element slider that was
  powered by Stimulus. 
  </p>

  <ul class="list-square px-4 py-4 text-sm font-semibold [&>li]:mb-2">
    <li>Designed a new look for the app with a fresh color palette and typography enhancements</li>
    <li>Designed a new UI with the forms and ensured typography and elements were all cohesive, balanced, and complemented eachother</li>
    <li>Code the design using TailwindCSS on the front end with standard Rails views.</li>
    <li>Ensure CSS dimensions were properly placed so when the HTML was swapped in the Turbo Frames it did not misalign the UI or affect
      other functionality</li>
  </ul>
</div>


<!-- Duties performed over the years for various clients. -->
<div class="mb-8">
  <h3 class="text-lg leading-snug"><span class="font-semibold">Duties performed over the year for various clients.</span></h3>
  <h2 class="italic mb-2 text-slate-500">2012-present</h2>
  <p class="text-sm leading-snug mb-4">
  While I have been developing web sites and apps since 2015, I start out doing Graphic Design and UI work in 2012. Over
  the years I have built interfaces from my designs and incorporated them into client applications. I have built static sites, email templates,
  custom hand-coded WordPress themes, and Django & Ruby on Rails web applications.
  </p>

  <p class="text-sm leading-snug mb-4">
  While I have been developing web sites and apps since 2015, I start out doing Graphic Design and UI work in 2012. Over
  the years I have built interfaces from my designs and incorporated them into client applications. I have built static sites, email templates,
  custom hand-coded WordPress themes, and Django & Ruby on Rails web applications.
  </p>

  <ul class="list-square px-4 py-4 text-sm font-semibold [&>li]:mb-2">
    <li>Worked with a team to upgrade a legacy Rails app from version 4 to 5. Ensured tests were passing and dependencies were updated</li>
    <li>Created an app that helped a local motorsports team recieve donations from sponsors increasing donation 35%. Wired it up to Stripe's API and their bank account. 
      Prior to this the manager, a grandma, would physically collect checks across the county.</li>
    <li>Set up CI/CD workflows on GitHub and Heroku to ensure checks were made like passing tests and staging environment functioned properly before auto-deploying to production</li>
    <li>Refactored code bases and created abstractions where the project called for it to reduce development time</li>
    <li>Developed a mobile-friendly app for a restaurant that allowed clients to place orders online which increased sales by 35%</li>
    <li>Delivered user-end training on content management systems to prepare for client hand-off</li>
    <li>Help build an e-commerce site to which help which increased customer reach and increased sales by 40%</li>
  </ul>
</div>
