<header>
  <section class="max-w-3xl mx-auto px-4 py-8 grid grid-cols-3 gap-4">
    <div class="col-span-1 flex items-center justify-center">
      {% render "logo", styles: "fill-blue-500 w-16 md:w-24" %}
    </div>

    <div class="col-span-2 flex items-center justify-start">
      <div>
        <h1 class="text-lg md:text-3xl font-light uppercase tracking-widest leading-normal md:leading-snug">Adrian Valenzuela</h1>
        <h2 class="text-xs md:text-xl font-normal text-slate-500">Fullstack Ruby on Rails Software Engineer</h2>
      </div>
    </div>
  </section>
</header>
