<div class="max-w-3xl mx-auto px-4 py-8 grid grid-cols-3 gap-4">
  <div class="col-span-3">
    <h2 class="text-2xl font-light mb-2">Profile & Career Objective</h2>
    <div>
      <p class="leading-relaxed text-base md:text-lg">
      Hard-working, passionate, and effective Fullstack Engineer with more than <span class="font-semibold">7+ years experience</span>.
      Astute and deadline driven. Quickly <span class="font-semibold">adapts</span> to collaborative environments and creates high-quality,
      well-tested code in within strict timeframes. Self-motivated, self-taught, always looking to grow,
      learn, and teach. I enjoy <span class="font-semibold">mentoring</span> and help Juniors learn more efficient ways of achieving results.
      I have been freelancing and working contract jobs for small to medium size businesses since 2015. Proud member of the BridgetownRB core team,
      a Ruby-powered static site generator,
      where I have assisted in organizing documentation, logo web design aesthetic, and <span class="font-semibold">creating tutorials</span> via 
      blog and video for the project. I am
      looking to find a career that offers security, room for growth, and service to the betterment of others.
      </p>
    </div>
  </div>
</div>
